* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
html {
    font-size: 10px;
}

body {
    background-image: url("background_pic.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100hw;
}

nav {
    background-color: #11122b;
    height: 9vh;
}

nav img {
    width: 8vw;
    margin: 1.5vh 0 0 3vh;
}
.search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    z-index: 3;
}

h2 {
    font-size: 2vw;
    text-shadow: 0 0 0.25vw red;
    color: white;
}

input {
    font-size: calc(1vw + 5px);
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 20px;
    margin-top: 2vh;
    padding: 0.25vw;
    color: white;
    text-align: center;
}

button {
    background-color: #fa7747;
    margin-top: 2vh;
    padding: 0.25vh 1vw;
    border: none;
    color: white;
    font-size: calc(1vw + 5px);
    border-radius: 2vw; 
}

.disc {
    background-color: #0c0c2494;
    margin: 5vh 15vw;
    height: 18vw;
    border-radius: 1vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}

.country {
    text-align: center;
    font-size: 5vw;
}

.city {
    font-size: 2vw;
    text-align: center;
}

.weather {
    font-size: 2vw;
}

.weather-main {
    font-size: 1.5vw;
}

.weather-disc {
    font-size: 1.5vw;
}

.weather-icon {
    width: 9vw;
    margin-top: 0.5vw;
}

.disc li {
    list-style-type: none;
    display: inline;

}

.temp ul {
    font-size: 1.5vw;
}

.detail {
    font-size: 1.25vw;
}

.detail li{
    display: inline;
    margin-bottom: 0.25vw;
}

.hidden {
    visibility: hidden;
}

@media all and  (max-width: 480px) {
    nav {
        height: 5vh;
    }
    body {
        background-size: 800%;    
    }
    h2 {
        font-size: 4vw;
    }
    input {
        font-size: calc(2vw + 5px);
    }
    button {
        font-size: calc(2vw + 5px);
        border-radius: .5vw; 
    }
    .disc {
        height: 9vh;
    }
    .country {
        font-size: 6vw;
    }
    
    .city {
        font-size: 3vw;
        text-align: center;
    }
    
    .weather {
        font-size: 3vw;
    }
    
    .weather-main {
        font-size: 2vw;
    }
    
    .weather-disc {
        font-size: 2vw;
    }
    .disc li {
        list-style-type: none;
        display: inline;
    
    }
    .temp ul {
        font-size: 3vw;
    }
    
    .detail {
        font-size: 2vw;
    }

}
@media all and (min-width: 481px) and (max-width: 768px) {
    nav {
        height: 5vh;
    }
    body {
        background-size: 500%;    
    }
    h2 {
        font-size: 4vw;
    }
    input {
        font-size: calc(2vw + 5px);
    }
    button {
        font-size: calc(2vw + 5px);
        border-radius: .5vw; 
    }
    .disc {
        height: 13vw;
    }
    .country {
        font-size: 6vw;
    }
    
    .city {
        font-size: 3vw;
        text-align: center;
    }
    
    .weather {
        font-size: 3vw;
    }
    
    .weather-main {
        font-size: 2vw;
    }
    
    .weather-disc {
        font-size: 2vw;
    }
    .disc li {
        list-style-type: none;
        display: inline;
    
    }
    .temp ul {
        font-size: 3vw;
    }
    
    .detail {
        font-size: 2vw;
    }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
    nav {
        height: 5vh;
    }
    body {
        background-size: 500%;    
    }
    h2 {
        font-size: 4vw;
    }
    input {
        font-size: calc(2vw + 5px);
    }
    button {
        font-size: calc(2vw + 5px);
        border-radius: .5vw; 
    }
    .disc {
        height: 13vw;
    }
    .country {
        font-size: 6vw;
    }
    
    .city {
        font-size: 3vw;
        text-align: center;
    }
    
    .weather {
        font-size: 3vw;
    }
    
    .weather-main {
        font-size: 2vw;
    }
    
    .weather-disc {
        font-size: 2vw;
    }
    .disc li {
        list-style-type: none;
        display: inline;
    
    }
    .temp ul {
        font-size: 3vw;
    }
    
    .detail {
        font-size: 2vw;
    }
}
@media all and (min-width: 1025px) and (max-width: 1200px) {
    nav {
        height: 7vh;
    }
    body {
        background-size: 500%;    
    }
    h2 {
        font-size: 3vw;
    }
    input {
        font-size: calc(1.5vw + 5px);
    }
    button {
        font-size: calc(1.5vw + 5px);
        border-radius: .5vw; 
    }
    .disc {
        height: 13vw;
    }
    .country {
        font-size: 5vw;
    }
    
    .city {
        font-size: 2.5vw;
        text-align: center;
    }
    
    .weather {
        font-size: 2vw;
    }
    
    .weather-main {
        font-size: 2vw;
    }
    
    .weather-disc {
        font-size: 2vw;
    }
    .disc li {
        list-style-type: none;
        display: inline;
    
    }
    .temp ul {
        font-size: 2vw;
    }
    
    .detail {
        font-size: 1.5vw;
    }
}
@media all and (min-width: 1201px) {
    nav {
        height: 8vh;
    }
    h2 {
        font-size: 2vw;
    }
    input {
        font-size: calc(1.5vw + 5px);
    }
    button {
        font-size: calc(1.5vw + 5px);
        border-radius: .5vw; 
    }
    .disc {
        height: 10vw;
    }
    .country {
        font-size: 6vw;
    }
    
    .city {
        font-size: 2vw;
        text-align: center;
    }
    
    .weather {
        font-size: 2vw;
    }
    
    .weather-main {
        font-size: 1.5vw;
    }
    
    .weather-disc {
        font-size: 1.5vw;
    }
    .disc li {
        list-style-type: none;
        display: inline;
    
    }
    .temp ul {
        font-size: 2vw;
    }
    
    .detail {
        font-size: 1.5vw;
    }
}